---
import Inputs from "@/pages/reset-password/set-password/inputs.astro";
import AuthPageLayout from "@/layouts/auth-page-layout.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/base/header.astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Login | Authentic">
  <AuthPageLayout>
    <Fragment slot="form-section">
      <Header
        title="Set a password"
        description="Your previous password has been reseted. Please set a new password for your account."
      />
      <div class="flex flex-col gap-10">
        <Inputs />
        <Button className="w-full font-semibold" client:idle>
          Set password
        </Button>
      </div>
      <div></div>
    </Fragment>
    <Fragment slot="pic-section">
      <img src="/public/img/auth-tools-pic.png" alt="" class="" />
    </Fragment>
  </AuthPageLayout>
</Layout>
