---
import { FloatingInput, FloatingLabel } from "@/components/ui/floating-input";
---

<div class="space-y-3">
  <div class="relative">
    <FloatingInput
      id="enter-email-input"
      type="email"
      className="w-full"
      autoComplete="email"
    />
    <FloatingLabel htmlFor="enter-email-input"> Enter Email </FloatingLabel>
  </div>
</div>
