---
import { Button, buttonVariants } from "@/components/ui/button";
import { cn } from "@/utils/cn";
---

<div>
  <Button
    className="w-full"
    onClick={() => {
      console.log("Button clicked");
    }}
    client:idle
  >
    Button
  </Button>
  <div class="flex items-center gap-2 justify-center">
    <p class="font-light text-foreground/80">Don’t have an account?</p>

    <a
      href="#"
      class={cn(buttonVariants({ variant: "link" }), "text-destructive p-0")}
    >
      Sign up
    </a>
  </div>
</div>
