---
import { cn } from "@/utils/cn";
interface Props {
  className?: string;
}
const { className }: Props = Astro.props;
---

<div class={cn(className, "flex items-center select-none")}>
  <img src="/favicon.svg" alt="Authentic Logo" />

  <p class="flex text-2xl">
    <span class="font-extrabold"> Auth </span>
    <span class="text-primary"> entic </span>
  </p>
</div>
