---
import SocialLoginButton from "@/components/base/social-login-button.astro";
---

<div class="flex justify-between">
  <SocialLoginButton>
    <img src="/public/svg/faceboock-icon.svg" alt="" />
  </SocialLoginButton>
  <SocialLoginButton
    ><img src="/public/svg/google-icon.svg" alt="" /></SocialLoginButton
  >
  <SocialLoginButton>
    <img src="/public/svg/apple-icon.svg" alt="" />
  </SocialLoginButton>
</div>
