---
import { Separator } from "@/components/ui/separator";
---

<div class="flex items-center justify-between">
  <Separator className="w-1/3  border-[1.5px] rounded-full" />
  <p class="min-w-32 w-1/3 text-center text-foreground/50">Or Sign up with</p>
  <Separator className="w-1/3 border-[1.5px] rounded-full" />
</div>
