---
import { Button } from "@/components/ui/button";
import DestructiveLink from "@/components/base/destructive-link.astro";
---

<div class="space-y-1">
  <Button
    className="w-full font-semibold"
    onClick={() => {
      console.log("Button clicked");
    }}
    client:idle
  >
    Sign up
  </Button>
  <div class="flex items-center gap-2 justify-center">
    <p class="font-light text-foreground/80">Already have an account?</p>
    <DestructiveLink href="/login">Login </DestructiveLink>
  </div>
</div>
